.header {
  position: fixed;
  top: 0;
  left: 80px; /* Default for collapsed sidebar */
  right: 0;
  height: 80px;
  justify-content: space-between;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

/* When Sidebar Expands */
.sidebar.expanded ~ .main-content .header {
  left: 250px;
}

/* Main Content */

/* Adjust Content When Sidebar Expands */
.sidebar.expanded ~ .main-content {
  margin-left: 250px;
}

.breadcrumb {
  font-size: 14px;
  color: #666;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
